.show_left {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.75s ease, transform 0.75s ease;
}

.show_left_norm {
    opacity: 1;
    transform: translateY(0);
}

.show_right {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.75s ease, transform 0.75s ease;
}

.show_right_norm {
    opacity: 1;
    transform: translateY(0);
}

.show_up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.75s ease, transform 0.75s ease;
}

.show_up_norm {
    opacity: 1;
    transform: translateY(0);
}

.showScale {
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.75s ease;
}

.showScale_norm {
    opacity: 1;
    transform: scale(1.0);
}